
.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .department {
    margin-top: 20px;
  }
  
 
  
  .post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .post-item {
    margin: 10px 0;
  }
  
 
  